* , *::after , *::before {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 100%;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
main {
    width: 300px;
}
div{
    text-align: center;
}
h1{
    font-weight: 900;
    text-align: center;
}
.list{
    margin-top: 10px;
}
.strike-through{
    text-decoration: line-through;
}
.flex{
    display: flex;
    align-items: center;
}
.mar-l-5{
    margin-left: 5px;
}
.btn {
    padding: 0.125em 1em;
    border-radius: 50px;
    border: none;
    background-color: rgba(129, 182, 243, 0.52);
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 47, 255);
    margin-left: auto;
}